# SPDX-License-Identifier: Apache-2.0

config ROPODS_DRIVERS
	bool "ROPODS drivers"
	help
	  Enable ROPODS custom drivers

if ROPODS_DRIVERS

rsource "drivers/Kconfig"

endif # ROPODS_DRIVERS

config ROPODS_LIBRARIES
	bool "ROPODS libraries"
	help
	  Enable ROPODS custom libraries

if ROPODS_LIBRARIES

rsource "lib/src/Kconfig"

endif # ROPODS_LIBRARIES
