/*
 * Copyright (c) 2024 ROPODS
 * SPDX-License-Identifier: Apache-2.0
 *
 * ICM20948 overlay for Nordic nRF52840 DK
 */

/ {
	aliases {
		icm20948 = &icm20948;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";

	icm20948: icm20948@0 {
		compatible = "invensense,icm20948";
		reg = <0>;
		spi-max-frequency = <8000000>;
		
		accel-range = <2>;    /* ±2g */
		gyro-range = <250>;   /* ±250 dps */
		
		/* INT pin connected to P0.04 */
		int-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
	};
};
