/*
 * Copyright (c) 2018 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "ppod_v2p0-pinctrl.dtsi"

/ {
	model = "nrf52840 ppod dev kit";
	compatible = "ropods,ppod-v2p0";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		ledr: led_r {
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			label = "RGB_LED_RED_PIN";
		};
		ledg: led_g {
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			label = "RGB_LED_GREEN_PIN";
		};
		ledb: led_b {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "RGB_LED_BLUE_PIN";
		};
	};

	buttons {
		compatible = "gpio-keys";
		sw0: sw_0 {
			gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "SW_0";
		};
		charge_stat: charge_stat {
			gpios = <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "CHARGE_STATUS";
		};
		pwr_hold: pwr_hold {
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "PPOD_V2P0_POWER_CONTROL";
		};
		reset: reset {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			label = "PPOD_V2P0_RESET_CONTROL";
		};
		drv2605_input: drv2605_input {
			gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PPOD_V2P0_HP_INPUT";
		};
		drv2605_enable: drv2605_enable {
			gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "PPOD_V2P0_HP_ENABLE";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &ledr;
		led1 = &ledg;
		led2 = &ledb;
		ledr = &ledr;
		ledg = &ledg;
		ledb = &ledb;
		sw0 = &sw0;
		mcuboot-button0 = &sw0;
		mcuboot-led0 = &ledr;
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	mx25r64: mx25r6435f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		writeoc = "pp4io";
		readoc = "read4io";
		sck-frequency = <8000000>;
		jedec-id = [c2 28 17];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&rtc2 {
	status = "okay";
	prescaler = <255>;
};

&spi0 {
	compatible = "nordic,nrf-spi";
	/* Cannot be used together with i2c0. */
	/* status = "okay"; */
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi1 {
	compatible = "nordic,nrf-spi";
	/* Cannot be used together with i2c1. */
	/* status = "okay"; */
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
	icm20948: icm20948@0 {
		compatible = "invensense,icm20948";
		spi-max-frequency = <1000000>;
		reg = <0>;
		int-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
	};
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	ti_bq274xx: ti_bq274xx@55 {
		compatible = "ti,bq274xx";
		reg = <0x55>;
		design-voltage = <3700>; /* 3.7V */
		design-capacity = <300>; /* 300mAh */
		taper-current = <50>; /* Taper current is 10% of charge current(500mAh is fast charge current) */
		terminate-voltage = <3000>; /* 3V */
	};
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	drv2605@5a {
		compatible = "ti,drv2605";
		reg = <0x5a>;
		actuator-mode = "ERM";
	};
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

/* Include filesystem table */
#include "fstab-default.dts"

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		files_partition: partition@0 {
			label = "lfstorage";
			reg = <0x00000000 0x007a1000>;
		};
	};
};
